[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
remappings = ['ds-test/=lib/ds-test/src/']
fuzz_max_global_rejects = 100000

# See more config options https://github.com/gakonst/foundry/tree/master/config